<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>할 일</title>
        <link rel="stylesheet" type="text/css" href="application.css">
    </head>
<body>
    <header><h1>코딩을 안 하신다고요?</h1></header>
    <h1> 그렇다면 <%=@rest %>보세요! </h1>
    <h5><a href="/rand_game1">차라리 코딩할래요</a></h5>
    <footer>
        <a href="http://sglikelion.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM0IidNfYmn58WdNh9hPSWIfFWyAKkpwSrjZ3M6J2Ciqy0w8oRqw" alt="멋사 로고" width=200 height=200 title="서강대 멋쟁이사자처럼"></a>
    </footer>
</body>